.card{
    background-color:rgb(0, 0, 0);
    /* background-image:linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.4)),url("../../assests/drizzle.jpg"); */
    
    background-size: cover;
    width: 180px;
    height:320px;
    border-radius: 15px;
    color: white;
    padding:20px;
    display:flex;
    flex-direction: column;
    text-align:center;
    align-items: center;
    justify-content:center;
    margin: 20px 40px;

}
.plus{
   font-size:100px;
   padding-bottom: 20px;
}