.container{
    width:100vw;
    background-color:rgb(0, 0, 0);
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    /* margin:0px 50px 0px 50px */
    margin-bottom: 30px;
}
.logo{
    margin-left: 30px;
    color: #fff;
}
.inputDiv{
    display:flex;
    flex-direction: row;
    margin-right: 30px;
    align-items: center;
}
.input{
    height: 40%;
    width: 30vw;
    background-color: rgb(56, 56, 56);
    border: none;
    color: white;
}
.search{
    height: 40%;
    width: 5vw;
}
