.card{
    background-color:rgb(0, 0, 0);
    /* background-image:linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.4)),url("../../assests/drizzle.jpg"); */
    
    background-size: cover;
    width: 180px;
    height:320px;
    border-radius: 15px;
    color: white;
    padding:20px;
    display:flex;
    flex-direction: column;
    text-align:center;
    align-items: center;
    justify-content:center;
    margin: 20px 40px;
    
}
.sub1{
    width: 180px;
    height:160px;
    border-radius: 15px 15px 0px 0px;
    border:2px solid white;
    color:white;

}
.sub2{
    width: 180px;
    height:160px;
    border-radius:0px 0px 15px 15px ;
    border:2px solid white;
    color:white
}
.plus{
   font-size:24px;
   padding:35px
}